.number-roll-wrap {
  display: flex;
  justify-content: center;

  // 每一个滚动数字
  .number-roll-item {
    height: 100%;
    overflow: hidden;

    span {
      display: block;
    }
  }
  .number-box {
    margin-top: 0;
    transition: all 1.2s linear;
  }
}

